<html>
<head>
<title>Reach Us</title>

<style type="text/css">
.style1{
	color: brown;
}
.style2{
	color: red;
}
</style>

</head>
<body bgcolor="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<center>

<table width="800" height="600" border="0" cellpadding="0" cellspacing="0">
	<tr>
		
	<td width="497" height="674"> <img src="images/left.jpg" alt="" border="0" usemap="#Imagemap"></td>

	<td width="498" height="674" class="contentbg" bgcolor="FF9900" >
		<table width="498" height="674" border="0" cellpadding="0" cellspacing="0">
		<tr>
		<td width="498" height="483">
			<table width="498" height="483" border="0" cellpadding="0" cellspacing="0">
			<tr>
			<td width="498" height="340" valign="top">
				<table width="498" height="340" border="0" cellpadding="0" cellspacing="0">
				<tr>
				<td width="403" height="340" class="content" valign="top">
				<div align="justify" color="blue">
<font face="verdana" size="4" color="#8A0808"><strong><center> Trip Of Mahabalipuram</center></strong></font><BR>
<font face="verdana" size="2" color="#8A0808"><BR>
This is my 1st letter
on this website . so ill start with the  first trip we went to
mahabalipuram this yr . it was amazing !!!  
  
<BR> <BR>                                                  It was 1st jan.we
woke up early .got ready . picked up atha and mama from der home .
n set r journey towards ecr road . i kw it was a bit stuffy and
overcrowded in the car as srujay, dad, mom, atha, mama, n myself went in r
old sedan Accent car .lol ;)) but anyways we had a g8t fun. The best
part was we got no clue wer to go ,what to do . we just planned tat b4
night . n just packed off the next day.
 <BR><BR>                                                  1st we tot of going to
fisherman's cave for lunch coz it was already 12:30 some thing , whn we
started .by the time we reached it was 2 30 .all the restaurants were
full n no place to sit . n shd wait for 30min . so decided to go to
temple bay in the hope we can sit n eat immediately coz we wer really
pissed off n hungry after a long journey (as u kw y we wer pissed off
lol..)    

<BR> <BR>                                                  After travelling for
about 20mins we reached temple bay. to r luck . we wer able to find a
table . the food was really delicious n yummy!! and i personally njoyd
the food coz it was buffet :D

 <BR>                                                  Later we went to the
beach back side . it was awesome . sru, atha n me went to the beach
. n got wet .   took lodzzzzzz of picz . i think i shd nt mention
tat part coz its obvious :) and finally we reached home at 10 , had dinner
at saravana on the way . bas !!!tats all was r story for tat day
. it was a happy starting of this yr. soon will catch u with my next
exciting story !!!!


<br><br>

</div>
				</td></font></i>
				<td width="41" height="340"><br></td>
				</tr>
				</table>
			</td>
			</tr>

			
				</table>
			</td>
			</tr>
			</table>
		</td>
		</tr>

		<tr>
		<td width="498" height="65">
		</td>
		</tr>

		<tr>
		<td width="498" height="56">
		</td>
		</tr>

		</table>	
	</td>
	</tr>

	<tr>
	<td width="999" height="25" align="right" class="footer" colspan="2"><a href="http://www.enmail.com/"><font 	color="yellow">Website designed by enmail</font></a></td>
	</tr>

	</table>
</center>

<map name="Imagemap">
<area shape="poly" alt="Home" coords="249,90,269,71,284,31,302,27,316,32,328,44,330,72,336,93,342,110,305,114,269,107" href="index.html" title=""/>
<area shape="poly" alt="Album" coords="343,148,332,154,330,175,331,193,322,215,322,223,355,223,393,212,408,200,385,176,373,155,355,145" href="album.html" title="" />
<area shape="poly" alt="Contact Us" coords="346,255,363,258,377,275,380,308,391,337,345,339,313,330,296,322,313,300,326,275,336,255" href="contactus.html" title="" />
<area shape="poly" alt="Reach Us" coords="440,314,456,315,471,319,492,356,510,378,512,384,476,398,444,402,420,400,414,396,424,368,428,329" href="reach.html" title="" />
<area shape="poly" alt="Greetings" coords="461,174,481,175,495,193,497,211,497,223,506,241,513,255,492,259,465,260,437,260,420,252,415,248,425,232,434,214,440,191,446,178" href="greetings.html" title="" />
<area shape="poly" alt="About Us" coords="405,100,425,87,441,69,452,60,468,62,472,67,480,78,480,92,478,105,477,114,477,125,481,141,471,138,458,137,440,134,428,129,422,123,408,116,408,108" href="aboutus.html" title="" />
<area shape="poly" alt="Location" coords="422,523,453,531,462,546,462,560,464,577,476,603,484,625,458,631,437,632,404,628,384,622,365,614,365,604,379,590,393,569,399,544,405,535" href="chennai.html" title="" />
</map>

</body>
</html>