<html>
<head>
<title>Contact Us</title>

<style type="text/css">
.style1{
	color: brown;
}
.style2{
	color: red;
}
</style>

</head>
<body bgcolor="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<center>

<table width="800" height="600" border="0" cellpadding="0" cellspacing="0">
	<tr>
		
	<td width="497" height="674"> <img src="images/left.jpg" alt="" border="0" usemap="#Imagemap"></td>

	<td width="498" height="674" class="contentbg" bgcolor="FF9900" >
		<table width="498" height="674" border="0" cellpadding="0" cellspacing="0">
		<tr>
		<td width="498" height="483">
			<table width="498" height="483" border="0" cellpadding="0" cellspacing="0">
			<tr>
			<td width="498" height="340" valign="top">
				<table width="498" height="340" border="0" cellpadding="0" cellspacing="0">
				<tr>
				<td width="54" height="340"><br></td>
				<td width="403" height="340" class="content" valign="top">
				<div align="justify" color="blue">   

	<form action="/" id="frmSubmit" class="general" method="POST">
     <p>
	<font color="RED" size="8" face="Verdana" align="top">Contact Us</font><BR><BR>
      <label><font color="#8A0808">Name</label></font>
      <br />
      <input type="text" name="name" value="Your Name" size="30" />
      <br />
      <label><font color="#8A0808"> Email</label></font>

      <br />
      <input type="text" name="email" value="Your Email" size="30" />
      <br />
      <label><font color="#8A0808">Your Comments</label></font>
      <br />
      <textarea rows="5" cols="30" name="comments"></textarea>
      <br />
      <input type="submit" class="button" value="Submit" name="btnSubmit" />

     </p>
    </form><br><br>
	</td></font></i>
				<td width="41" height="340"><br></td>
				</tr>
				</table>
			</td>
			</tr>

			<td width="41" height="80"><br></td>
				</tr>
				</table>
			</td>
			</tr>
			</table>
		</td>
		</tr>

		<tr>
		<td width="498" height="65">
		</td>
		</tr>

		<tr>
		<td width="498" height="56">
		</td>
		</tr>

		</table>	
	</td>
	</tr>

	<tr>
	<td width="999" height="25" align="right" class="footer" colspan="2"><a href="http://www.enmail.com/"><font 	color="yellow">Website designed by enmail</font></a></td>
	</tr>

	</table>
</center>

<map name="Imagemap">
<area shape="poly" alt="Home" coords="249,90,269,71,284,31,302,27,316,32,328,44,330,72,336,93,342,110,305,114,269,107" href="index.html" title=""/>
<area shape="poly" alt="Album" coords="343,148,332,154,330,175,331,193,322,215,322,223,355,223,393,212,408,200,385,176,373,155,355,145" href="album.html" title="" />
<area shape="poly" alt="Contact Us" coords="346,255,363,258,377,275,380,308,391,337,345,339,313,330,296,322,313,300,326,275,336,255" href="contactus.html" title="" />
<area shape="poly" alt="Reach Us" coords="440,314,456,315,471,319,492,356,510,378,512,384,476,398,444,402,420,400,414,396,424,368,428,329" href="reach.html" title="" />
<area shape="poly" alt="Greetings" coords="461,174,481,175,495,193,497,211,497,223,506,241,513,255,492,259,465,260,437,260,420,252,415,248,425,232,434,214,440,191,446,178" href="greetings.html" title="" />
<area shape="poly" alt="About Us" coords="405,100,425,87,441,69,452,60,468,62,472,67,480,78,480,92,478,105,477,114,477,125,481,141,471,138,458,137,440,134,428,129,422,123,408,116,408,108" href="aboutus.html" title="" />
<area shape="poly" alt="Location" coords="422,523,453,531,462,546,462,560,464,577,476,603,484,625,458,631,437,632,404,628,384,622,365,614,365,604,379,590,393,569,399,544,405,535" href="chennai.html" title="" />
</map>

</body>
</html>